

header{
    background: linear-gradient( to right,rgb(177, 12, 186),white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body{
    background: linear-gradient( to right, violet,white);
        background-repeat: no-repeat;
        background-attachment: fixed;
    margin: 0;
}

#links{
   display: inline-flex;
   gap: 5px;
   margin-right: 20px;
   
}

#imagen{
width: 42px;
margin: 15px;
border-radius: 6px;
height: 50px;
}

#registro{
    background: linear-gradient( to right,rgb(177, 12, 186),white);   
}

#nombre{
    display: flex;
}